<section class="experience-wrapper" id="projects">
  <h2 class="section-title" data-aos="fade-up">Projects</h2>

  <div class="experience-container" *ngFor="let project of projects" data-aos="fade-up">
    <div class="experience-card">
      <h2>{{ project.title }}</h2>
      <div class="tech-stack">
        <span *ngFor="let techItem of project.tech.split(',')">{{ techItem.trim() }}</span>
      </div>


      <ul>
        <li *ngFor="let point of project.points">
          {{ point }}
        </li>
      </ul>

      <a class="view-btn" [href]="project.link" target="_blank" rel="noopener noreferrer">
        View Project
      </a>
    </div>
  </div>
</section>