<section id="education" class="education-section" data-aos="zoom-in">
  <h2 class="section-title">Education</h2>
  <div class="timeline">

    <!-- SSLC -->
    <div class="timeline-item">
      <div class="label-top">School</div>
      <div class="line"></div>
      <div class="circle year-orange">2019</div>
      <div class="desc">RMK Patashaala<br>CBSE Class 10 — 92%</div>
    </div>

    <!-- HSC -->
    <div class="timeline-item">
      <div class="label-top">Higher Secondary</div>
      <div class="line"></div>
      <div class="circle year-purple">2021</div>
      <div class="desc">RMK Patashaala<br>CBSE Class 12 — 95.6%</div>
    </div>

    <!-- B.E. -->
    <!-- B.E. -->
    <div class="timeline-item">
      <div class="label-top">Undergraduate</div>
      <div class="line"></div>
      <div class="circle year-pink">2025</div>
      <div class="desc">R.M.K Engineering College<br>B.E. ECE — CGPA 8.53</div>
    </div>


  </div>
</section>