<section class="experience-wrapper" id="experience">
  <h2 class="section-title" data-aos="fade-up">Experience</h2>

  <div class="experience-container">
    <button class="arrow left" (click)="prevSlide()">
      <i class="fas fa-chevron-left"></i>
    </button>

    <div class="experience-card">
      <h2>{{ experiences[currentIndex].role }}</h2>
      <h3>{{ experiences[currentIndex].company }}</h3>
      <p class="duration-location">
        {{ experiences[currentIndex].duration }} • {{ experiences[currentIndex].location }}
      </p>

      <ul>
        <li *ngFor="let item of experiences[currentIndex].responsibilities">
          {{ item }}
        </li>
      </ul>
    </div>

    <button class="arrow right" (click)="nextSlide()">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</section>