<section id="skills" class="skills" data-aos="zoom-in">
  <h2>Skills</h2>

  <!-- Programming Languages -->
  <div class="skill-category">
    <h3>Programming Languages</h3>
    <div class="skills-row"><img src="https://upload.wikimedia.org/wikipedia/commons/1/18/C_Programming_Language.svg"
        alt="C" width="40" height="40" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="Java" />
    </div>
  </div>

  <!-- Web Development -->
  <div class="skill-category">
    <h3>Web Development</h3>
    <div class="skills-row">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML5" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS3" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
        alt="TypeScript" />
    </div>
  </div>

  <!-- Simulation and Modeling -->
  <div class="skill-category">
    <h3>Simulation & Modeling</h3>
    <div class="skills-row">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/matlab/matlab-original.svg" alt="MATLAB" />
    </div>
  </div>

  <!-- Web Frameworks -->
  <div class="skill-category">
    <h3>Web Frameworks</h3>
    <div class="skills-row">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" alt="Spring Boot" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt="Angular" />
    </div>
  </div>

  <!-- Tools & Platforms -->
  <div class="skill-category">
    <h3>Tools & Platforms</h3>
    <div class="skills-row">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/swagger/swagger-original.svg" alt="Swagger" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postman/postman-original.svg" alt="Postman" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub"
        class="github-logo" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="Git" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" alt="VS Code" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/intellij/intellij-original.svg"
        alt="IntelliJ IDEA" />
    </div>
  </div>
</section>