<section class="experience-wrapper" id="experience">
  <h2 class="section-title" data-aos="fade-up">Experience</h2>

  <div class="experience-list">
    <div class="experience-card" *ngFor="let exp of experiences; let i = index" data-aos="fade-up"
      [attr.data-aos-delay]="i * 150">
      <h3 class="role">{{ exp.role }}</h3>
      <h4 class="company">{{ exp.company }}</h4>

      <p class="meta">
        {{ exp.duration }} • {{ exp.location }}
      </p>

      <ul>
        <li *ngFor="let item of exp.responsibilities">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</section>