.section-title {
  color: #00796b;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 2.5rem;
}

.experience-card {
  max-width: 600px;
  border-radius: 16px;
  padding: 30px;
  color: #08897c;
  text-align: center;
}

.experience-card h2 {
  font-size: 2rem;
  /* Matching main heading */
  font-weight: 700;
  color: #00796b;
  margin-bottom: 0.4rem;
}

.experience-card h3 {
  font-size: 1.5rem;
  /* Matching subheading */
  font-weight: 500;
  color: #08897c;
  margin-bottom: 1rem;
}

.duration-location {
  font-size: 1.1rem;
  font-style: italic;
  color: #08897c;
  margin-bottom: 1rem;
  font-weight: 600;
}

.experience-card ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.experience-card li {
  padding-left: 1.4rem;
  position: relative;
  margin-bottom: 0.6rem;
  font-size: 1.05rem;
  font-style: italic;
  font-weight: 500;
  color: #08897c;
}

.experience-card li strong {
  font-weight: 600;
  color: #00695c;
}

.experience-card li::before {
  content: '▹';
  position: absolute;
  left: 0;
  color: #08897c;
  font-size: 1.2rem;
}

/* Layout Wrappers */
.experience-wrapper {
  text-align: center;
  padding: 4rem 2rem;
  color: #08897c;
}

.experience-container {
  position: relative;
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border: 2px solid #00897b;
  background: #047267;
  color: #090a0a;
  font-size: 1.6rem;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.arrow:hover {
  background-color: #004d40;
  color: white;
}

.arrow.left {
  left: -20px;
  /* slightly closer */
}

.arrow.right {
  right: -20px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .experience-container {
    flex-direction: column;
  }

  .arrow {
    margin: 15px 0;
    top: unset;
    bottom: -30px;
    transform: none;
  }

  .arrow.left {
    left: 35%;
  }

  .arrow.right {
    right: 35%;
  }
}